# Python cache files
__pycache__/
*.pyc

# Environment files
.env
*.env
.venv/
venv/

# IDEs and editors
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# OS specific
.DS_Store

# Build and test artifacts
build/
dist/
*.egg-info/
.eggs/
.ipynb_checkpoints
.pytest_cache/
coverage/

# Node
node_modules/
